<form 
    id     = "zayso_register_form"
    class  = "zayso_register_form zayso_form1" 
    action = "{{ path('cerad_tourn_account_create') }}" 
    method = "post" 
    {{ form_enctype(form) }}
 >
    <fieldset><legend><span>Account Information</span></legend>
        {{ form_row(form.userName)       }}
        {{ form_row(form.personEmail)     }}
        {{ form_row(form.userPass.pass1) }}
        {{ form_row(form.userPass.pass2) }}
    </fieldset>
    <fieldset><legend><span>AYSO Information</span></legend>
        {{ form_row(form.aysoVolunteerId)  }}
        {{ form_row(form.aysoRegionId)     }}
        {{ form_row(form.aysoRefereeBadge) }}
    </fieldset>
    <fieldset><legend><span>Contact Information</span></legend>
        {{ form_row(form.personFirstName) }}
        {{ form_row(form.personLastName)  }}
        {{ form_row(form.personNickName)  }}
        {{ form_row(form.personPhone)     }}
    </fieldset>
    <fieldset>
        <div class="zayso_form_controls">
            <span></span>
            <input type="submit" name="accountCreate" value="Create Zayso Account" />
        </div>
    </fieldset>
<div style="display: none;">{{ form_rest(form) }}</div>
</form>
